{% extends 'base.html.twig' %}

{% block title %}News
{% endblock %}

{% block body %}
	<div class="section white padding-top-0 padding-bottom-60 full-width-carousel-fix">
		<div class="container">
			<div class="row">
				<div class="col-xl-12">

					<!-- Section Headline -->
					<div class="section-headline margin-top-0 margin-bottom-35">
						<h3>News Jobs</h3>
						<a href="{{ path('listposthome') }}" class="headline-link">Browse All Jobs</a>
					</div>

					<!-- Jobs Container -->


				</div>

				<!-- Job Listing -->


				<div class="col-xl-12">
					<div class="blog-carousel">
						{% for news in news %}
							<a href="{{ path('detailedOff',{'id': news.id}) }}" class="blog-compact-item-container">
								<div class="blog-compact-item">
									<img src="{{ asset('uploads/images/' ~ news.photo ) }}" alt="">
									<span class="blog-item-tag">Tips</span>
										<div class="blog-compact-item-content">
											<ul class="blog-post-tags">
												<li>20 May 2018</li>
											</ul>
											<h4 class="job-listing-company">{{news.titre	}}</h4>
											<h3 class="job-listing-title">{{news.description}}</h3>
										</div>
								</div>
							</a>
						{% endfor %}
					</div>


							<!-- Job Listing -->
						
				</div>
					<!-- Jobs Container / End -->

				
			</div>
		</div>
	</div>
	<!-- Featured Jobs / End -->


{% endblock %}
