{% extends 'dashboard.html.twig' %}

{% block title %}{% trans %}Add News {% endtrans %}{% endblock %}

{% block body %}
<div class="container">
		<div class="row">
			<div class="col-xl-5 offset-xl-3">

				<div
					class="login-register-page">
					<!-- Welcome Text -->
					<div class="welcome-text">
						<h3 style="font-size: 26px;">{% trans %}Let's create a News{% endtrans %}</h3>
						
					</div>

					{{ form_start(news) }}

					
				
					 {# {{ form_widget(registrationForm.roles	)}}  #}
					{{ form_widget(news.Titre,{'attr':{'type':'text','class':'form-control','placeholder':'Titre...'}}) }}
					
					{{ form_widget(news.description,{'attr':{'type':'text','class':'form-control','placeholder':'description...'}}) }}
					<div class="uploadButton S ">
												{{ form_label(news.photo, null, {
                                           			'label': 'Upload photo',
                                            		'label_attr': {'class': 'uploadButton-button ripple-effect'}
                                           		 }) }}
												{{ form_widget(news.photo,{'attr':{'type':'file','accept':'image/*','class':'uploadButton-input'}}) }}

                    </div>

					<div class="submit-field"></div>
				</div>
				<button type="submit" class="button full-width button-sliding-icon ripple-effect margin-top-10">{% trans %}Register{% endtrans %}<i class="icon-material-outline-arrow-right-alt"></i>
				</button>
				{{ form_end(news) }}

			</div>

		</div>
	</div>
{% endblock %}
