
<title>{% trans %}Add Profile {% endtrans %}
</title>


<!-- Scripts
================================================== -->
<script src={{ asset('js/competance.js')}}></script>
<script src={{ asset('js/experiance.js')}}></script>
<script src={{ asset('js/jquery-3.3.1.min.js')}}></script>
<script src={{ asset('js/jquery-migrate-3.0.0.min.js')}}></script>
<script src={{ asset('js/mmenu.min.js')}}></script>
<script src={{ asset('js/tippy.all.min.js')}}></script>
<script src={{ asset('js/simplebar.min.js')}}></script>
<script src={{ asset('js/bootstrap-slider.min.js')}}></script>
<script src={{ asset('js/bootstrap-select.min.js')}}></script>
<script src={{ asset('js/snackbar.js')}}></script>
<script src={{ asset('js/clipboard.min.js')}}></script>
<script src={{ asset('js/counterup.min.js')}}></script>
<script src={{ asset('js/magnific-popup.min.js')}}></script>
<script src={{ asset('js/slick.min.js')}}></script>
<script src={{ asset('js/custom.js')}}></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

<!-- CSS
================================================== -->
<link rel="stylesheet" href={{ asset('css/style.css')}}>
<link rel="stylesheet" href={{ asset('css/colors/blue.css')}}>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>	




{% block body %}
 

	<!-- Dashboard Content
	================================================== -->
	<div class="dashboard-content-container" data-simplebar>
		<div class="dashboard-content-inner" >
			
			<!-- Dashboard Headline -->
			<div class="dashboard-headline">
				<h3>{% trans %} ADD PROFILE {% endtrans %}</h3>

				<!-- Breadcrumbs -->
				<nav id="breadcrumbs" class="dark">
					<ul>
						<li><a href="#">{% trans %}Home {% endtrans %}</a></li>
						<li><a href="#">{% trans %} Dashboard {% endtrans %}</a></li>
						<li>{% trans %} add profile {% endtrans %}</li>
					</ul>
				</nav>
			</div>
	
			<!-- Row -->
			<div class="row">

				<!-- Dashboard Box -->
				<div class="col-xl-12">
					<div class="dashboard-box margin-top-0">

						<!-- Headline -->
						<div class="headline">
							<h3><i class="icon-feather-folder-plus"></i>{% trans %}  Profile Form {% endtrans %}</h3>
						</div>


                        {{ form_start(Rec) }}
                        
						<div class="content with-padding padding-bottom-10">
							<div class="row" >
                    
								
                               
                                	<div class="col-xl-6" >
									<div class="submit-field" >
									
									{{ form_widget(Rec.pays,{'attr':{'type':'text','class':'form-control','placeholder':'pays...'}}) }}
									
                                    </div>
									</div>
									<div class="col-xl-6" >
									<div class="submit-field" >
									
									{{ form_widget(Rec.ville,{'attr':{'type':'text','class':'form-control','placeholder':'ville...'}}) }}
									
                                    </div>
									</div>
										<div class="col-xl-6">
									     <div class="submit-field">
										
                                        {{ form_widget(Rec.diplome,{'attr':{'type':'text','class':'form-control','placeholder':'diplome...'}}) }}
										 
                                         
									 
                                       
                                   
                                          </div>
								        </div>
										<div class="col-xl-6">
									     <div class="submit-field">
										
                                        
										 {{ form_widget(Rec.langue_preferee,{'attr':{'type':'text','class':'form-control','placeholder':'langue_preferee...'}}) }}
                                         
									 
                                       
                                   
                                          </div>
								        </div>
                                        
									
                              
								

								
									
										<div class="col-xl-12" >
										
                                       		<div class="submit-field">
										
										 		<div class="uploadButton photo  ">
                                         			{{ form_label(Rec.photo, null, {
                                           			'label': 'Upload photo',
                                            		'label_attr': {'class': 'uploadButton-button ripple-effect'}
                                           			 }) }}
                                            		{{ form_widget(Rec.photo,{'attr':{'type':'file','accept':'image/*','class':'uploadButton-input'}}) }}
                                          
											
											
                                            	
												</div>
											</div>
                                    	</div>
										
									
									
								</div>
                                    	
</div>
						
						<div class="col-xl-12">
				<button type="submit" class="button full-width button-sliding-icon ripple-effect margin-top-10">{% trans %} Add Profile {% endtrans %}<i class="icon-material-outline-arrow-right-alt"></i></button>
				</div>
                    {{ form_end(Rec) }}
					</div>
				</div>


							</div>
						</div>
				
					
				
						
						
						

				

			</div>	
			<!-- Row / End -->

		

		</div>
	</div>
	<!-- Dashboard Content / End -->

{% endblock %}
