{% extends "base.html.twig" %}

{% block title %}{% trans %} Question {% endtrans %}{% endblock %}
{% block header %}
			{% if is_granted('ROLE_CANDIDAT') %}


					<!-- User Menu -->
					{% if app.request.locale == "ar" %}
						<div class="header-widget" style="margin-right: 1000px;margin-top: -82px;">
					{% for can in can %}
							
						{% if app.token.user.id == can.user.id %}
							<!-- Messages -->
						<div class="header-notifications user-menu">
							<div class="header-notifications-trigger">
								<a href="#">
									<div class="user-avatar status-online"><img src="{{ asset('uploads/images/' ~ can.CV.photo ) }}" alt=""></div>
										
								</a>
							</div>
						
							<!-- Dropdown -->
								<div class="header-notifications-dropdown">
									<ul class="user-menu-small-nav" style="text-align: right;">
									<div class="user-status">

								<!-- User Name / Avatar -->
								<div class="user-details">
									<div class="user-avatar status-online"><img src="{{ asset('uploads/images/' ~ can.CV.photo ) }}" alt=""></div>
									<div class="user-name">
											
											<span>{{app.token.user.nom}}</span>
										</div>
								</div>
								</div>
									
										<li>
											<a href="{{path('detailedCV',{'id': can.id})}}">
												<i class="icon-material-outline-settings"></i>
											{% trans %}	Settings {% endtrans %}</a>
												
										</li>
										<li>
											<a href="{{path('app_logout')}}">
												<i class="icon-material-outline-power-settings-new"></i>
											{% trans %}	Logout {% endtrans %}</a>
										</li>
									</ul>

								</div>
						</div>
					
			{% endif %}
					{% endfor %}
		</div>
					{% else %}
				<div class="header-widget" style="position: absolute;">
					{% for can in can %}
							
						{% if app.token.user.id == can.user.id %}
							<!-- Messages -->
						<div class="header-notifications user-menu">
							<div class="header-notifications-trigger">
								<a href="#">
									<div class="user-avatar status-online"><img src="{{ asset('uploads/images/' ~ can.CV.photo ) }}" alt=""></div>
										
								</a>
							</div>
						
							<!-- Dropdown -->
								<div class="header-notifications-dropdown">
									<ul class="user-menu-small-nav">
									<div class="user-status">

								<!-- User Name / Avatar -->
								<div class="user-details">
									<div class="user-avatar status-online"><img src="{{ asset('uploads/images/' ~ can.CV.photo ) }}" alt=""></div>
									<div class="user-name">
											
											<span>{{app.token.user.nom}}</span>
										</div>
								</div>
								</div>
									
										<li>
											<a href="{{path('detailedCV',{'id': can.id})}}">
												<i class="icon-material-outline-settings"></i>
											{% trans %}	Settings {% endtrans %}</a>
												
										</li>
										<li>
											<a href="{{path('app_logout')}}">
												<i class="icon-material-outline-power-settings-new"></i>
											{% trans %}	Logout {% endtrans %}</a>
										</li>
									</ul>

								</div>
						</div>
					
			{% endif %}
					{% endfor %}
		</div>
		<!-- User Menu / End -->
		{% endif %}
	{% elseif is_granted('ROLE_RECRUTEUR') %}

		<!-- User Menu -->
			{% if app.request.locale == "ar" %}
<div class="header-widget" style="margin-right: 1000px;margin-top: -82px;">
			{% for rec in rec %}
							
				{% if app.token.user.id == rec.user.id %}
			<!-- Messages -->
			<div class="header-notifications user-menu">
						<div class="header-notifications-trigger">
						
							<a href="#">
								<div class="user-avatar status-online"><img src="{{ asset('uploads/images/' ~ rec.photo ) }}" alt=""></div>
							</a>
							
						</div>
					
				<!-- Dropdown -->
				<div class="header-notifications-dropdown">

					<!-- User Status -->
					<div
						class="user-status">

						<!-- User Name / Avatar -->
						<div class="user-details">
						
							<div class="user-avatar status-online"><img src="{{ asset('uploads/images/' ~ rec.photo ) }}" alt=""></div>
						
							<div class="user-name">
								{{app.token.user.nom}}
								<span></span>
							</div>
						</div>

					</div>

					<ul class="user-menu-small-nav" style="text-align: right;">
					
						<li>
							<a href="{{path('detailedRec',{'id': rec.id})}}">
								<i class="icon-material-outline-settings"></i>
							{% trans %}	Settings {% endtrans %}</a>
						</li>
						<li>
							<a href="{{path('app_logout')}}">
								<i class="icon-material-outline-power-settings-new"></i>
							{% trans %}	Logout {% endtrans %}</a>
						</li>
					</ul>

				</div>
			</div>
			{% endif %}
					{% endfor %}
		</div>

			{% else %}
				
		<div class="header-widget" style="position: absolute;">
			{% for rec in rec %}
							
				{% if app.token.user.id == rec.user.id %}
			<!-- Messages -->
			<div class="header-notifications user-menu">
						<div class="header-notifications-trigger">
						
							<a href="#">
								<div class="user-avatar status-online"><img src="{{ asset('uploads/images/' ~ rec.photo ) }}" alt=""></div>
							</a>
							
						</div>
					
				<!-- Dropdown -->
				<div class="header-notifications-dropdown">

					<!-- User Status -->
					<div
						class="user-status">

						<!-- User Name / Avatar -->
						<div class="user-details">
						
							<div class="user-avatar status-online"><img src="{{ asset('uploads/images/' ~ rec.photo ) }}" alt=""></div>
						
							<div class="user-name">
								{{app.token.user.nom}}
								<span></span>
							</div>
						</div>

					</div>

					<ul class="user-menu-small-nav">
					
						<li>
							<a href="{{path('detailedRec',{'id': rec.id})}}">
								<i class="icon-material-outline-settings"></i>
							{% trans %}	Settings {% endtrans %}</a>
						</li>
						<li>
							<a href="{{path('app_logout')}}">
								<i class="icon-material-outline-power-settings-new"></i>
							{% trans %}	Logout {% endtrans %}</a>
						</li>
					</ul>

				</div>
			</div>
			{% endif %}
					{% endfor %}
		</div>
		{% endif %}
		{% elseif is_granted('ROLE_ADMIN') %}
		<!-- User Menu / End -->
		{% else %}
		{% if app.request.locale == "ar" %}
		<div class="trans-login">
			<div class="connect" style="margin-right: -70px;">
				<a href="{{ path('app_login') }}" class="connect">
					<button type="submit" class="button full-width button-sliding-icon ripple-effect margin-top-12" style="width: 140px;">{% trans %} Login {% endtrans %}<i class="icon-material-outline-arrow-right-alt"></i>
					</button>
				</a>
			</div>
	
	
		</div>
		{% else %}
		<div class="header-widget" style="position: absolute;">
			<div class="connect" style="margin-right: -70px;">
				<a href="{{ path('app_login') }}" class="connect">
					<button type="submit" class="button full-width button-sliding-icon ripple-effect margin-top-12" style="width: 120px;">{% trans %} Login {% endtrans %}<i class="icon-material-outline-arrow-right-alt"></i>
					</button>
				</a>
			</div>
	
	
		</div>
		{% endif %}
	{% endif %}
	
	</br>
	</br>
{% endblock %}
{% block body %}

       </br>
       </br>
       </br>
       </br>
    <!-- Titlebar
================================================== -->
<div class="single" data-background-image="images/single-job.jpg">
	<div class="container">
    <div class="img-question">
				
						<img  src={{ asset('images/questions.png')}} alt="" ></a>
						
				</div>
		<div class="row">
		
            <div class="col-md-12" style="text-align: center;">
				
				<h2>{{ question.question }} </h2>
			{% if is_granted('ROLE_RECRUTEUR') %}
					 {% if app.User.id == question.recruteur.User.id %}	
					 <div class="col-xl-6" style="margin-top: 70px;margin-left: 270px;">
							<a href="{{ path('editQuestion',{'id': question.id}) }}"  class="button full-width button-sliding-icon ripple-effect margin-top-10">{% trans %} Edit Question {% endtrans %}<i class="icon-material-outline-arrow-right-alt"></i>
							</a>
					</div>	
					{% else %}
					</br>
						{% endif %}
						{% endif %}
			</div>
		</div>
	</div>
</div>


<!-- Page Content
================================================== -->
<div class="container">
	<div class="row">
		
		<!-- Content -->
		<div class="col-xl-8 col-lg-8 content-right-offset">
				{% if is_granted('ROLE_RECRUTEUR') %}	
			<div class="single-page-section" >
				<h3 class="margin-bottom-25">{% trans %} Add Comment {% endtrans %}</h3>
				 <div class="single-page-section"id="Ajout_Commentaire">
				    {{ form_start(commentForm) }}
                	{{ form_end(commentForm) }}
			    </div>
			</div>
				{% elseif is_granted('ROLE_CANDIDAT') %}	
					<div class="single-page-section" >
				<h3 class="margin-bottom-25">{% trans %} Add Comment {% endtrans %}</h3>
				 <div class="single-page-section"id="Ajout_Commentaire">
				    {{ form_start(commentForm) }}
                	{{ form_end(commentForm) }}
			    </div>
			</div>
			   {% endif %}
            <div class="single-page-section">
				<h3 class="margin-bottom-25">{% trans %} All Comment {% endtrans %}</h3>
				 <div class="single-page-section">
                
                    {% for comment in question.commentaires %}
					   
					
					
                    {% if comment.parent == null %}
                   <div class="user-details">
				   		{% if  comment.candidat != null %}
				   
                    		<div class="user-avatar"><img src="{{ asset('uploads/images/' ~ comment.Candidat.CV.photo) }}" alt=""></div>
                    
                     
                                    <div class="user-name">
						                {{comment.Candidat.User.nom}}    {{comment.createdat|date('d-m-Y H:i')}}
                                        <span>{{comment.content}}</span>
									{% if is_granted('ROLE_RECRUTEUR') %}	
                                         <div>  <p><a href="#Ajout_Commentaire" data-reply data-id="{{comment.id}}">{% trans %}  Reply {% endtrans %}</a></p></div>
                                      {% if app.user.id == comment.Candidat.User.id %} 
                                     
                                        <div>  <p><a href="{{ path('deleteCommentaire',{'id': comment.id}) }}" >{% trans %} Delete {% endtrans %}</a></p></div>
                                      {% else %}
                                     
                                        {% endif %}
										{% elseif is_granted('ROLE_CANDIDAT') %}	
										    <div>  <p><a href="#Ajout_Commentaire" data-reply data-id="{{comment.id}}">{% trans %} Reply {% endtrans %}</a></p></div>
                                      {% if app.user.id == comment.Candidat.User.id %} 
                                     
                                        <div>  <p><a href="{{ path('deleteCommentaire',{'id': comment.id}) }}" >Delete</a></p></div>
                                      {% else %}
                                     
                                        {% endif %}
										   {% endif %}
									</div>
                                   
                      
                      
                    		</div>
						{% else %}
						<div class="user-avatar"><img src="{{ asset('uploads/images/' ~ comment.recruteur.photo) }}" alt=""></div>
                    
                     
                                    <div class="user-name">
						                {{comment.recruteur.User.nom}}    {{comment.createdat|date('d-m-Y H:i')}}
                                        <span>{{comment.content}}</span>
                                         <div>  <p><a href="#Ajout_Commentaire" data-reply data-id="{{comment.id}}">{% trans %}Reply {% endtrans %}</a></p></div>
                                      {% if app.user.id == comment.Candidat.User.id %} 
                                     
                                        <div>  <p><a href="{{ path('deleteCommentaire',{'id': comment.id}) }}" >{% trans %} Delete {% endtrans %}</a></p></div>
                                      {% else %}
                                     
                                        {% endif %}
									</div>
                                   
                      
                      
                    		</div>
					{% endif %}
                    <div class="reply" style="padding: 10px 39px 24px;">  {% for reply in comment.replies %}
                    <div class="user-details-1">
                    	<div class="user-avatar"><img src="{{ asset('uploads/images/' ~ reply.Candidat.CV.photo) }}" alt=""></div>
                    
                            <div class="user-name">
					            {{reply.Candidat.User.nom}}    {{reply.createdAt|date("d/m/Y H:i") }}
                            <span>{{reply.content|raw}}</span>
                                       
					    </div>
                                   
                      
                    </div>
                  
					{% endfor %}</div>
                  
					{% endif %}
                    {% endfor %}
			    </div>
			</div>
           

			{# <div class="single-page-section">
				<h3 class="margin-bottom-30">Location</h3>
				<div id="single-job-map-container">
					<div id="singleListingMap" data-latitude="51.507717" data-longitude="-0.131095" data-map-icon="im im-icon-Hamburger"></div>
					<a href="#" id="streetView">Street View</a>
				</div>
			</div> #}

			
		</div>
		


	</div>
</div>
      



<!-- Page Content
================================================== -->
<div class="container">
	<div class="row">
			
			  
	</div>
</div>


	<!-- Spacer -->
	<div class="margin-top-15"></div>
	<!-- Spacer / End-->   
    <script>
		window.onload = () => {
			
			                                // On met un écouteur d'évènements sur tous les boutons répondre
			                        document.querySelectorAll("[data-reply]").forEach(element => {
				                            element.addEventListener("click", function(){
				                        	document.querySelector("#commentaire_parentid").value = this.dataset.id;
				                                })
            
			
                                                 });
                            }
		let caroulix = new Caroulix('#carousel');
		let modal = new Modal('#modale-contact');
	</script>        
{% endblock %}

