{% extends "base.html.twig" %}

{% block title %}Training{% endblock %}

{% block body %}

       </br>
       </br>
       </br>
       </br>
    <!-- Titlebar
================================================== -->
<div class="single-page-header" data-background-image="images/single-job.jpg">
	<div class="container">
    <div class="img-question">
				
						<img  src={{ asset('images/questions.png')}} alt="" ></a>
						
				</div>
		<div class="row">
		
            <div class="col-md-12" style="text-align: center;">
				
				<h2>{{ question.question }} </h2>
							
			</div>
		</div>
	</div>
</div>


<!-- Page Content
================================================== -->
<div class="container">
	<div class="row">
		
		<!-- Content -->
		<div class="col-xl-8 col-lg-8 content-right-offset">

			<div class="single-page-section" >
				<h3 class="margin-bottom-25">Add Comment</h3>
				 <div class="single-page-section"id="Ajout_Commentaire">
				    {{ form_start(commentForm) }}
                	{{ form_end(commentForm) }}
			    </div>
			</div>
            <div class="single-page-section">
				<h3 class="margin-bottom-25">All Comment</h3>
				 <div class="single-page-section">
                
                    {% for comment in question.commentaires %}
                    {% if comment.parent == null %}
                   <div class="user-details">
                    	<div class="user-avatar"><img src="{{ asset('uploads/images/' ~ comment.Candidat.CV.photo) }}" alt=""></div>
                    
                     
                                    <div class="user-name">
						                {{comment.Candidat.User.nom}}    {{comment.createdat|date('d-m-Y H:i')}}
                                        <span>{{comment.content}}</span>
                                         <div>  <p><a href="#Ajout_Commentaire" data-reply data-id="{{comment.id}}">Repondre</a></p></div>
                                      {% if app.user.id == comment.Candidat.User.id %} 
                                     
                                        <div>  <p><a href="{{ path('recruteur_deletequestion',{'id': comment.id}) }}" >Delete</a></p></div>
                                      {% else %}
                                     
                                        {% endif %}
									</div>
                                   
                      
                      
                    </div>
                    <div class="reply" style="padding: 10px 39px 24px;">  {% for reply in comment.replies %}
                    <div class="user-details-1">
                    	<div class="user-avatar"><img src="{{ asset('uploads/images/' ~ reply.Candidat.CV.photo) }}" alt=""></div>
                    
                            <div class="user-name">
					            {{reply.Candidat.User.nom}}    {{reply.createdAt|date("d/m/Y H:i") }}
                            <span>{{reply.content|raw}}</span>
                                       
					    </div>
                                   
                      
                    </div>
                  
					{% endfor %}</div>
                  
					{% endif %}
                    {% endfor %}
			    </div>
			</div>
           

			{# <div class="single-page-section">
				<h3 class="margin-bottom-30">Location</h3>
				<div id="single-job-map-container">
					<div id="singleListingMap" data-latitude="51.507717" data-longitude="-0.131095" data-map-icon="im im-icon-Hamburger"></div>
					<a href="#" id="streetView">Street View</a>
				</div>
			</div> #}

			
		</div>
		


	</div>
</div>
      



<!-- Page Content
================================================== -->
<div class="container">
	<div class="row">
			
			  
	</div>
</div>


	<!-- Spacer -->
	<div class="margin-top-15"></div>
	<!-- Spacer / End-->   
    <script>
		window.onload = () => {
			
			                                // On met un écouteur d'évènements sur tous les boutons répondre
			                        document.querySelectorAll("[data-reply]").forEach(element => {
				                            element.addEventListener("click", function(){
				                        	document.querySelector("#commentaire_parentid").value = this.dataset.id;
				                                })
            
			
                                                 });
                            }
		let caroulix = new Caroulix('#carousel');
		let modal = new Modal('#modale-contact');
	</script>        
{% endblock %}

