{% extends "base.html.twig" %}

{% block title %}Offre Emploi{% endblock %}
	{% block header %}
			{% if is_granted('ROLE_CANDIDAT') %}


					<!-- User Menu -->
				<div class="header-widget">
					{% for can in can %}
							
						{% if app.token.user.id == can.user.id %}
							<!-- Messages -->
						<div class="header-notifications user-menu">
							<div class="header-notifications-trigger">
								<a href="#">
									<div class="user-avatar status-online"><img src="{{ asset('uploads/images/' ~ can.CV.photo ) }}" alt=""></div>
										
								</a>
							</div>
						
							<!-- Dropdown -->
								<div class="header-notifications-dropdown">
									<ul class="user-menu-small-nav">
									<div class="user-status">

								<!-- User Name / Avatar -->
								<div class="user-details">
									<div class="user-avatar status-online"><img src="{{ asset('uploads/images/' ~ can.CV.photo ) }}" alt=""></div>
									<div class="user-name">
											
											<span>{{app.token.user.nom}}</span>
										</div>
								</div>
								</div>
									
										<li>
											<a href="{{path('detailedCV',{'id': can.id})}}">
												<i class="icon-material-outline-settings"></i>
												Settings</a>
												
										</li>
										<li>
											<a href="{{path('app_logout')}}">
												<i class="icon-material-outline-power-settings-new"></i>
												Logout</a>
										</li>
									</ul>

								</div>
						</div>
					
			{% endif %}
					{% endfor %}
		</div>
		<!-- User Menu / End -->
	{% elseif is_granted('ROLE_RECRUTEUR') %}

		<!-- User Menu -->
		<div class="header-widget">
			{% for rec in rec %}
							
				{% if app.token.user.id == rec.user.id %}
			<!-- Messages -->
			<div class="header-notifications user-menu">
						<div class="header-notifications-trigger">
						
							<a href="#">
								<div class="user-avatar status-online"><img src="{{ asset('uploads/images/' ~ rec.photo ) }}" alt=""></div>
							</a>
							
						</div>
					
				<!-- Dropdown -->
				<div class="header-notifications-dropdown">

					<!-- User Status -->
					<div
						class="user-status">

						<!-- User Name / Avatar -->
						<div class="user-details">
						
							<div class="user-avatar status-online"><img src="{{ asset('uploads/images/' ~ rec.photo ) }}" alt=""></div>
						
							<div class="user-name">
								{{app.token.user.nom}}
								<span></span>
							</div>
						</div>

					</div>

					<ul class="user-menu-small-nav">
					
						<li>
							<a href="{{path('detailedRec',{'id': rec.id})}}">
								<i class="icon-material-outline-settings"></i>
								Settings</a>
						</li>
						<li>
							<a href="{{path('app_logout')}}">
								<i class="icon-material-outline-power-settings-new"></i>
								Logout</a>
						</li>
					</ul>

				</div>
			</div>
			{% endif %}
					{% endfor %}
		</div>
		{% elseif is_granted('ROLE_ADMIN') %}
		<!-- User Menu / End -->
		{% else %}
		<div
			class="header-widget">
			<div class="connect" style="margin-right: -70px;">
				<a href="{{ path('app_login') }}" class="connect">
					<button type="submit" class="button full-width button-sliding-icon ripple-effect margin-top-12" style="width: 120px;">Connexion<i class="icon-material-outline-arrow-right-alt"></i>
					</button>
				</a>
			</div>
	
	
		</div>
	{% endif %}
	
	</br>
	</br>
{% endblock %}
{% block body %}

       </br>
       </br>
       </br>
       </br>
    <!-- Titlebar
================================================== -->
<div class="single-page-header" data-background-image="images/single-job.jpg">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="single-page-header-inner">
					<div class="left-side">
						<div class="header-image"><a href="single-company-profile.html"><img  src="{{ asset('uploads/images/' ~  off.recruteur.photo) }}" alt="" ></a></div>
							<div class="header-details">
                       
								<h3>{{ off.titre }} </h3>
								<h5>{{ off.recruteur.User.nom }} {{  off.recruteur.User.prenom }}</h5>
								<ul>
									<li><i class="icon-material-outline-business"></i> {{  off.recruteur.ville }}</a></li>

									<li><i class="icon-material-outline-location-on"></i> {{  off.recruteur.pays }}</li>
									<li> <h6><i class="icon-material-outline-access-time"></i> {{ off.dateOffre|date('d-m-Y ')}}</h6></li>
									{% if date('now')|date('d-m-Y ') > off.DateFinOffre|date('d-m-Y ') %}
									<li><span class="label label-success">Valide</span></li>
									{% elseif date('now')|date('d-m-Y ') < off.DateFinOffre|date('d-m-Y ') %}
									<li><span class="label label-danger">block</span></li>
									{% endif %}
									
								</ul>
							</div>
						</div>
						<div class="right-side">
							<div class="salary-box">
								<div class="salary-type"><h3><center>Salary</center></h3></div>
								<div class="salary-amount">{{ off.salaire }} $</div>
							</div>
						</div>
					
					</div>
				
				</div>
			</div>
		</div>
	</div>


<!-- Page Content
================================================== -->
	<div class="container">
		<div class="row">
			
			<!-- Content -->
			<div class="col-xl-8 col-lg-8 content-right-offset">

				<div class="single-page-section">
					<h3 class="margin-bottom-25">Job Description</h3>
					<p>{{off.description}}</p>
				</div>
			</div>
		

			<!-- Sidebar -->
			<div class="col-xl-4 col-lg-4">
				<div class="sidebar-container">
					
					<a href='{{ path('postuler',{'id': off.id})}}' class='apply-now-button'>Apply Now </a>
				
					<div class="sidebar-widget">
						<div class="job-overview">
							<div class="job-overview-headline">Job Summary</div>
							<div class="job-overview-inner">
								<ul>
									<li>
										<i class="icon-material-outline-location-on"></i>
										<span>Location</span>
										<h5>{{  off.recruteur.ville }}, {{  off.recruteur.pays }}</h5>
									</li>
									<li>
										<i class="icon-material-outline-business-center"></i>
										<span>Job Type</span>
										<h5>{{ off.type.type }}</h5>
									</li> 
									<li>
										<i class="icon-material-outline-local-atm"></i>
										<span>Salary</span>
										<h5>{{ off.salaire }} $</h5>
									</li>
									<li>
										<i class="icon-material-outline-access-time"></i>
										<span>Date Posted</span>
										<h5>{{off.dateOffre|date('d-m-Y ')}}</h5>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>
      



<!-- Page Content
================================================== -->
<div class="container">
	<div class="row">
			
			  
	</div>
</div>


	<!-- Spacer -->
	<div class="margin-top-15"></div>
	<!-- Spacer / End-->    
{# <div id="small-dialog" class="zoom-anim-dialog mfp-hide dialog-with-tabs">

	<!--Tabs -->
	<div class="sign-in-form">

		<ul class="popup-tabs-nav">
			<li><a href="#tab">Apply Now</a></li>
		</ul>

		<div class="popup-tabs-container">

			<!-- Tab -->
			<div class="popup-tab-content" id="tab">
				
				<!-- Welcome Text -->
				<div class="welcome-text">
					<h3>Attach File </h3>
				</div>
					
				<!-- Form -->
				<form method="post" id="apply-now-form">

				{{form_start(Offre)}}
					<div class="uploadButton">
						<div class="uploadButton S ">
												{{ form_label(Offre.cv, null, {
                                           			'label': 'Upload File',
                                            		'label_attr': {'class': 'uploadButton-button ripple-effect'}
                                           		 }) }}
												{{ form_widget(Offre.cv,{'attr':{'type':'file','accept':'pdf/*','class':'uploadButton-input'}}) }}
						</div>
						<span class="uploadButton-file-name">Upload your CV / resume relevant file. <br> Max. file size: 50 MB.</span>
					</div>
				{{form_end(Offre)}}
				</form>
				
				{# <!-- Button -->
				<button class="button margin-top-35 full-width button-sliding-icon ripple-effect" type="submit" form="apply-now-form">Apply Now <i class="icon-material-outline-arrow-right-alt"></i></button> #}
{# 
			</div>

		</div>
	</div>
</div>  #}
<!-- Apply for a job popup / End -->
  </div>     
{% endblock %}

