{% extends "base.html.twig" %}

{% block title %}Profile{% endblock %}

{% block body %}

       </br>
       </br>
       </br>
       </br>
          
      
    <div class="single-page-header freelancer-header" data-background-image="images/single-freelancer.jpg">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="single-page-header-inner">
					<div class="left-side">
						<div class="header-image freelancer-avatar"> <img class="img-fluid rounded" src="{{ asset('uploads/images/' ~ Rec.photo) }}" alt="" style="width: 300px;height:300px"></div>
						<div class="header-details">
							<h3>{{ Rec.User.nom }} {{ Rec.User.prenom }}<span>{{ Rec.User.email }}</span></h3>
                            <ul>
								<li>{{ Rec.pays }}</li>
                            </ul>
                           
							<ul>
								<li>{{ Rec.ville }}</li>
                            <ul>
                            </ul>
								<li>{{ Rec.diplome }}</li>
								
							</ul>
                             <ul>
								
								<li> langue_preferee : {{ Rec.languepreferee }}</li>
								{% for rec in Rec %}

								

								{% endfor %}
							</ul>
						</div>
						
					</div>
					<div class="right-side">
			<div class="col-xl-8">
				{# <button type="submit" class="button full-width button-sliding-icon ripple-effect margin-top-10">Add Profile<i class="icon-material-outline-arrow-right-alt"></i>
				</button> #}
				  {% if is_granted('ROLE_RECRUTEUR') %}
				<a
							href="{{ path('editProfileRec',{'id': Rec.id}) }}" class="button full-width button-sliding-icon ripple-effect margin-top-10">Edit Profil<i class="icon-material-outline-arrow-right-alt"></i></a>
								<a
							href="{{ path('editPassRec',{'id': Rec.id}) }}" class="button full-width button-sliding-icon ripple-effect margin-top-10">Edit Password<i class="icon-material-outline-arrow-right-alt"></i></a>
							
			  {% elseif is_granted('ROLE_CANDIDAT') %}
                    <br>
			  {% endif %}
			</div>
		</div>
				</div>
			</div>
		</div>
	</div>
</div>


<!-- Page Content
================================================== -->
<div class="container">
	<div class="row">
			
			  
	</div>
</div>


	<!-- Spacer -->
	<div class="margin-top-15"></div>
	<!-- Spacer / End-->           
{% endblock %}

