{% extends 'base.html.twig' %}

{% block title %}{% trans %} Edit Training {% endtrans %}
{% endblock %}
{% block header %}
			{% if is_granted('ROLE_CANDIDAT') %}


					<!-- User Menu -->
					{% if app.request.locale == "ar" %}
						<div class="header-widget" style="margin-right: 1000px;margin-top: -82px;">
					{% for can in can %}
							
						{% if app.token.user.id == can.user.id %}
							<!-- Messages -->
						<div class="header-notifications user-menu">
							<div class="header-notifications-trigger">
								<a href="#">
									<div class="user-avatar status-online"><img src="{{ asset('uploads/images/' ~ can.CV.photo ) }}" alt=""></div>
										
								</a>
							</div>
						
							<!-- Dropdown -->
								<div class="header-notifications-dropdown">
									<ul class="user-menu-small-nav" style="text-align: right;">
									<div class="user-status">

								<!-- User Name / Avatar -->
								<div class="user-details">
									<div class="user-avatar status-online"><img src="{{ asset('uploads/images/' ~ can.CV.photo ) }}" alt=""></div>
									<div class="user-name">
											
											<span>{{app.token.user.nom}}</span>
										</div>
								</div>
								</div>
									
										<li>
											<a href="{{path('detailedCV',{'id': can.id})}}">
												<i class="icon-material-outline-settings"></i>
											{% trans %}	Settings {% endtrans %}</a>
												
										</li>
										<li>
											<a href="{{path('app_logout')}}">
												<i class="icon-material-outline-power-settings-new"></i>
											{% trans %}	Logout {% endtrans %}</a>
										</li>
									</ul>

								</div>
						</div>
					
			{% endif %}
					{% endfor %}
		</div>
					{% else %}
				<div class="header-widget" style="position: absolute;">
					{% for can in can %}
							
						{% if app.token.user.id == can.user.id %}
							<!-- Messages -->
						<div class="header-notifications user-menu">
							<div class="header-notifications-trigger">
								<a href="#">
									<div class="user-avatar status-online"><img src="{{ asset('uploads/images/' ~ can.CV.photo ) }}" alt=""></div>
										
								</a>
							</div>
						
							<!-- Dropdown -->
								<div class="header-notifications-dropdown">
									<ul class="user-menu-small-nav">
									<div class="user-status">

								<!-- User Name / Avatar -->
								<div class="user-details">
									<div class="user-avatar status-online"><img src="{{ asset('uploads/images/' ~ can.CV.photo ) }}" alt=""></div>
									<div class="user-name">
											
											<span>{{app.token.user.nom}}</span>
										</div>
								</div>
								</div>
									
										<li>
											<a href="{{path('detailedCV',{'id': can.id})}}">
												<i class="icon-material-outline-settings"></i>
											{% trans %}	Settings {% endtrans %}</a>
												
										</li>
										<li>
											<a href="{{path('app_logout')}}">
												<i class="icon-material-outline-power-settings-new"></i>
											{% trans %}	Logout {% endtrans %}</a>
										</li>
									</ul>

								</div>
						</div>
					
			{% endif %}
					{% endfor %}
		</div>
		<!-- User Menu / End -->
		{% endif %}
	{% elseif is_granted('ROLE_RECRUTEUR') %}

		<!-- User Menu -->
			{% if app.request.locale == "ar" %}
<div class="header-widget" style="margin-right: 1000px;margin-top: -82px;">
			{% for rec in rec %}
							
				{% if app.token.user.id == rec.user.id %}
			<!-- Messages -->
			<div class="header-notifications user-menu">
						<div class="header-notifications-trigger">
						
							<a href="#">
								<div class="user-avatar status-online"><img src="{{ asset('uploads/images/' ~ rec.photo ) }}" alt=""></div>
							</a>
							
						</div>
					
				<!-- Dropdown -->
				<div class="header-notifications-dropdown">

					<!-- User Status -->
					<div
						class="user-status">

						<!-- User Name / Avatar -->
						<div class="user-details">
						
							<div class="user-avatar status-online"><img src="{{ asset('uploads/images/' ~ rec.photo ) }}" alt=""></div>
						
							<div class="user-name">
								{{app.token.user.nom}}
								<span></span>
							</div>
						</div>

					</div>

					<ul class="user-menu-small-nav" style="text-align: right;">
					
						<li>
							<a href="{{path('detailedRec',{'id': rec.id})}}">
								<i class="icon-material-outline-settings"></i>
							{% trans %}	Settings {% endtrans %}</a>
						</li>
						<li>
							<a href="{{path('app_logout')}}">
								<i class="icon-material-outline-power-settings-new"></i>
							{% trans %}	Logout {% endtrans %}</a>
						</li>
					</ul>

				</div>
			</div>
			{% endif %}
					{% endfor %}
		</div>

			{% else %}
				
		<div class="header-widget" style="position: absolute;">
			{% for rec in rec %}
							
				{% if app.token.user.id == rec.user.id %}
			<!-- Messages -->
			<div class="header-notifications user-menu">
						<div class="header-notifications-trigger">
						
							<a href="#">
								<div class="user-avatar status-online"><img src="{{ asset('uploads/images/' ~ rec.photo ) }}" alt=""></div>
							</a>
							
						</div>
					
				<!-- Dropdown -->
				<div class="header-notifications-dropdown">

					<!-- User Status -->
					<div
						class="user-status">

						<!-- User Name / Avatar -->
						<div class="user-details">
						
							<div class="user-avatar status-online"><img src="{{ asset('uploads/images/' ~ rec.photo ) }}" alt=""></div>
						
							<div class="user-name">
								{{app.token.user.nom}}
								<span></span>
							</div>
						</div>

					</div>

					<ul class="user-menu-small-nav">
					
						<li>
							<a href="{{path('detailedRec',{'id': rec.id})}}">
								<i class="icon-material-outline-settings"></i>
							{% trans %}	Settings {% endtrans %}</a>
						</li>
						<li>
							<a href="{{path('app_logout')}}">
								<i class="icon-material-outline-power-settings-new"></i>
							{% trans %}	Logout {% endtrans %}</a>
						</li>
					</ul>

				</div>
			</div>
			{% endif %}
					{% endfor %}
		</div>
		{% endif %}
		{% elseif is_granted('ROLE_ADMIN') %}
		<!-- User Menu / End -->
		{% else %}
		{% if app.request.locale == "ar" %}
		<div class="trans-login">
			<div class="connect" style="margin-right: -70px;">
				<a href="{{ path('app_login') }}" class="connect">
					<button type="submit" class="button full-width button-sliding-icon ripple-effect margin-top-12" style="width: 140px;">{% trans %} Login {% endtrans %}<i class="icon-material-outline-arrow-right-alt"></i>
					</button>
				</a>
			</div>
	
	
		</div>
		{% else %}
		<div class="header-widget" style="position: absolute;">
			<div class="connect" style="margin-right: -70px;">
				<a href="{{ path('app_login') }}" class="connect">
					<button type="submit" class="button full-width button-sliding-icon ripple-effect margin-top-12" style="width: 120px;">{% trans %} Login {% endtrans %}<i class="icon-material-outline-arrow-right-alt"></i>
					</button>
				</a>
			</div>
	
	
		</div>
		{% endif %}
	{% endif %}
	
	</br>
	</br>
{% endblock %}
{% block body %}


	<!-- Dashboard Content
								================================================== -->
	<div class="dashboard-content-container" data-simplebar>
		<div
			class="dashboard-content-inner">

			<!-- Dashboard Headline -->
			<div class="dashboard-headline">
				<h3>{% trans %} EDIT TRAINING {% endtrans %}</h3>

				<!-- Breadcrumbs -->
				<nav id="breadcrumbs" class="dark">
					<ul>
						<li>
							<a href="#">{% trans %} Home {% endtrans %}</a>
						</li>
						<li>
							<a href="#">{% trans %} Dashboard {% endtrans %}</a>
						</li>
						<li>{% trans %} Edit Training {% endtrans %}</li>
					</ul>
				</nav>
			</div>

			<!-- Row -->
			<div
				class="row">

				<!-- Dashboard Box -->
				<div class="col-xl-12">
					<div
						class="dashboard-box margin-top-0">

						<!-- Headline -->
						<div class="headline">
							<h3>
								<i class="icon-feather-folder-plus"></i>
							{% trans %}	Edit Training Form {% endtrans %}</h3>
						</div>


						{{ form_start(Formation) }}

						<div class="content with-padding padding-bottom-10">
							<div class="row">

								<div class="col-xl-4">
									<div class="submit-field">
										{{ form_label(Formation.titre, null, {
                                            'label': 'titre :',
                                            'label_attr': {'class': 'uploadButton-button ripple-effect'}
                                            }) }}
										{{ form_widget(Formation.titre,{'attr':{'type':'text','class':'form-control','placeholder':'titre...' ,'text-align':'center'}}) }}

									</div>
								</div>

								<div class="col-xl-4">
									<div class="submit-field">
										{{ form_label(Formation.lieu_formation, null, {
                                            'label': 'lieu formation :',
                                            'label_attr': {'class': 'uploadButton-button ripple-effect'}
                                            }) }}
										{{ form_widget(Formation.lieu_formation,{'attr':{'type':'text','class':'form-control','placeholder':'lieu formation...'}}) }}

									</div>
								</div>
								<div class="col-xl-4">
									<div class="submit-field">
										{{ form_label(Formation.price, null, {
                                            'label': 'price :',
                                            'label_attr': {'class': 'uploadButton-button ripple-effect'}
                                            }) }}
										{{ form_widget(Formation.price,{'attr':{'type':'text','class':'form-control','placeholder':'price...'}}) }}

									</div>
								</div>
								<div class="col-xl-6">
									<div class="submit-field">
										{{ form_label(Formation.DateDebut, null, {
                                            'label': 'Date Debut :',
                                            'label_attr': {'class': 'uploadButton-button ripple-effect'}
                                            }) }}
										{{ form_widget(Formation.DateDebut,{'attr':{'type':'text','class':'form-control','placeholder':'DateDebut...'}}) }}


									</div>
								</div>
								<div class="col-xl-6">
									<div class="submit-field">
										{{ form_label(Formation.dureeformation, null, {
                                            'label': 'duree formation  :',
                                            'label_attr': {'class': 'uploadButton-button ripple-effect'}
                                            }) }}

										{{ form_widget(Formation.dureeformation,{'attr':{'type':'text','class':'form-control','placeholder':'dureeformation...'}}) }}

									</div>
								</div>
								<div class="col-xl-12">
									<div class="submit-field">
										{{ form_label(Formation.description, null, {
                                            'label': 'description :',
                                            'label_attr': {'class': 'uploadButton-button ripple-effect'}
                                            }) }}


										{{ form_widget(Formation.description,{'attr':{'type':'Textarea','class':'form-control','placeholder':'description...'}}) }}


									</div>
								</div>


							</div>

						</div>

						<div class="col-xl-12">
							<button type="submit" class="button full-width button-sliding-icon ripple-effect margin-top-10">{% trans %}Edit Training {% endtrans %}
								<i class="icon-material-outline-arrow-right-alt"></i>
							</button>
						</div>
						{{ form_end(Formation) }}
					</div>
				</div>


			</div>
		</div>


	</div>
	<!-- Row / End -->


</div></div><!-- Dashboard Content / End -->{% endblock %}
