{% extends 'base.html.twig' %}

{% block title %}List Offre
{% endblock %}
{% block header %}
	{% if is_granted('ROLE_CANDIDAT') %}


		<!-- User Menu -->
		<div
			class="header-widget">
							{% for can in can %}
							
							{% if app.token.user.id == can.user.id %}
			<!-- Messages -->
			<div class="header-notifications user-menu">
				<div class="header-notifications-trigger">
					<a href="#">
						<div class="user-avatar status-online"><img src="{{ asset('uploads/images/' ~ can.photo ) }}" alt=""></div>
					</a>
				</div>

				<!-- Dropdown -->
				<div
					class="header-notifications-dropdown">

					<!-- User Status -->
					<div
						class="user-status">

						<!-- User Name / Avatar -->
						<div class="user-details">
							<div class="user-avatar status-online"><img src="{{ asset('uploads/images/' ~ can.photo ) }}" alt=""></div>
							<div class="user-name">
								Tom Smith
								<span>Freelancer</span>
							</div>
						</div>

						<!-- User Status Switcher -->
						<div class="status-switch" id="snackbar-user-status">
							<label class="user-online current-status">Online</label>
							<label class="user-invisible">Invisible</label>
							<!-- Status Indicator -->
							<span class="status-indicator" aria-hidden="true"></span>
						</div>
					</div>

					<ul class="user-menu-small-nav">
						<li>
							<a href="dashboard.html">
								<i class="icon-material-outline-dashboard"></i>
								Dashboard</a>
						</li>
						<li>
							<a href="dashboard-settings.html">
								<i class="icon-material-outline-settings"></i>
								Settings</a>
						</li>
						<li>
							<a href="{{path('app_logout')}}">
								<i class="icon-material-outline-power-settings-new"></i>
								Logout</a>
						</li>
					</ul>

				</div>
			</div>
			{% endif %}
					{% endfor %}
		</div>
		<!-- User Menu / End -->
	{% elseif is_granted('ROLE_RECRUTEUR') %}

		<!-- User Menu -->
		<div
			class="header-widget">
					{% for rec in rec %}
							
							{% if app.token.user.id == rec.user.id %}
			<!-- Messages -->
			<div class="header-notifications user-menu">
				<div class="header-notifications-trigger">
				
					<a href="#">
						<div class="user-avatar status-online"><img src="{{ asset('uploads/images/' ~ rec.photo ) }}" alt=""></div>
					</a>
					
				</div>

				<!-- Dropdown -->
				<div
					class="header-notifications-dropdown">

					<!-- User Status -->
					<div
						class="user-status">

						<!-- User Name / Avatar -->
						<div class="user-details">
						
							<div class="user-avatar status-online"><img src="{{ asset('uploads/images/' ~ rec.photo ) }}" alt=""></div>
						
							<div class="user-name">
								{{app.token.user.nom}}
								<span></span>
							</div>
						</div>

					</div>

					<ul class="user-menu-small-nav">
						<li>
							<a href="dashboard.html">
								<i class="icon-material-outline-dashboard"></i>
								Dashboard</a>
						</li>
						<li>
							<a href="dashboard-settings.html">
								<i class="icon-material-outline-settings"></i>
								Settings</a>
						</li>
						<li>
							<a href="{{path('app_logout')}}">
								<i class="icon-material-outline-power-settings-new"></i>
								Logout</a>
						</li>
					</ul>

				</div>
			</div>
			{% endif %}
					{% endfor %}
		</div>
		{% elseif is_granted('ROLE_ADMIN') %}
		<!-- User Menu / End -->
		{% else %}
		<div
			class="header-widget">
			<div class="connect" style="margin-right: -120px;">
				<a href="{{ path('app_login') }}" class="connect">
					<button type="submit" class="button full-width button-sliding-icon ripple-effect margin-top-12" style="width: 115px;">Connexion<i class="icon-material-outline-arrow-right-alt"></i>
					</button>
				</a>
			</div>
	
	
		</div>
	{% endif %}
{% endblock %}
{% block body %}

	<!-- Page Content
					================================================== -->
	<div class="container">
		<div class="row"></br>
	
		<div class="col-md-6 col-lg-4">
		
				{{ form_start(form , {attr:{class:'filter'} } ) }}


			<div class="sidebar-container">
			

				<!-- Location -->
				<div class="sidebar-widget">
					<h3>Search</h3>
					<div class="input-with-icon">
						<div id="autocomplete-container">
							{{form_row(form.q)}}
						</div>

					</div>
				{# {{dump(form)}} #}
						

					<!-- Job Types -->
					
						<h3>Job Type</h3>

						<div class="switches-list">
							<div class="switch-container">
						
								{{form_row(form.type )}}
							
							</div>


						</div>


					<!-- Salary -->
					
						<h3>Salary</h3>
						
							{{form_row(form.min)}}
					
					
							{{form_row(form.max)}}
					
						<!-- Range Slider -->
						<button type="submit" class="button full-width button-sliding-icon ripple-effect margin-top-10">Search<i class="icon-material-outline-arrow-right-alt"></i>
								</button>
						{# <input class="range-slider" type="text" value="" data-slider-currency="$" data-slider-min="1500" data-slider-max="15000" data-slider-step="100" data-slider-value="[1500,15000]"/> #}
					</div>
				

</div>
{{form_end(form)}}
</br>
</br></br>
</div>
<div class="col-xl-9 col-lg-8 content-left-offset">
{% for posts in posts %}
{# {% if posts.type[0] == "télétravail" %} #}
<div class="listings-container margin-top-35">

	{% if is_granted('ROLE_CANDIDAT') %}
		<a href="{{ path('detailedOff',{'id': posts.id}) }}" class="job-listing">
		{% elseif is_granted('ROLE_RECRUTEUR') %}
			<a href="{{ path('detailedOff',{'id': posts.id}) }}" class="job-listing">
			{% else %}
				<a href="{{ path('detailedOff',{'id': posts.id}) }}" class="job-listing">
				{% endif %}
				<!-- Job Listing -->


				<!-- Job Listing Details -->
				<div
					class="job-listing-details">
					<!-- Logo -->
					<div class="job-listing-company-logo">
						<img src="{{ asset ('uploads/images/' ~ posts.recruteur.photo ) }}" alt="">
					</div>

					<!-- Details -->
					<div class="job-listing-description">

						<h4 class="job-listing-company">{{posts.recruteur.user.nom	}}

							<span class="verified-badge" title="Verified Employer" data-tippy-placement="top"></span>
						</h4>
						<h3 class="job-listing-title">{{posts.titre}}</h3>
						<p class="job-listing-text">{{posts.description}}</p>
					</div>


				

				</div>

				<!-- Job Listing Footer -->
				<div class="job-listing-footer">
					<ul>
							<li>
							<i class="icon-material-outline-business"></i>
							{{posts.recruteur.ville}}</li>

							<li>
							<i class="icon-material-outline-location-on"></i>
							{{posts.recruteur.pays}}</li>
							<li>
							<i class="icon-material-outline-account-balance-wallet"></i>
							{{posts.salaire}}
							$</li>
							{# <div class="validorblock" style="text-align: right;margin-top: -30px;;">
								<li>
									
										{% if date('now')|date('d-m-Y ') > posts.DateFinOffre|date('d-m-Y ') %}
											<li>
												<h5>
													<span class="label label-success">Valide</span>
												</h5>
											</li>
										{% elseif date('now')|date('d-m-Y ') < posts.DateFinOffre|date('d-m-Y ') %}
											<li>
												<h5>
													<span class="label label-danger">blocked</span>
												</h5>
											</li>
										{% endif %}
									
								</li>
					</div> #}

					</ul>
				</div>
			</a>
			{% endfor %}
			

			<!-- Pagination -->
					<div class="clearfix"></div>
								<div class="row">
						<div class="col-md-12">
					<!-- Pagination -->
				<div class="pagination-container margin-top-30 margin-bottom-60" style="text-align: center;">
			 {{ knp_pagination_render(posts) }}
				</div>
			</div>
		</div>
	<!-- Pagination / End -->

		</div>
		{# {% endif %} #}
	
</div></div></div></div></div><!-- Dashboard Content / End -->{% endblock %}
