<!DOCTYPE html>
<html>
<title>{% trans %} Add CV {% endtrans %}
</title>
  <head>

<!-- Basic Page Needs
================================================== -->

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

<!-- CSS
================================================== -->
<link rel="stylesheet" href={{ asset('css/style.css')}}>
<link rel="stylesheet" href={{ asset('css/colors/blue.css')}}>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>




  <body>




	<!-- Dashboard Content
			================================================== -->
	<div class="dashboard-content-container" data-simplebar>
		<div
			class="dashboard-content-inner">

			<!-- Dashboard Headline -->
			<div class="dashboard-headline">
				<h3> {% trans %} ADD CV {% endtrans %}</h3>

				<!-- Breadcrumbs -->
				<nav id="breadcrumbs" class="dark">
					<ul>
						<li>
							<a href="#">{% trans %} Home {% endtrans %} </a>
						</li>
						<li>
							<a href="#"> {% trans %} Dashboard {% endtrans %}</a>
						</li>
						<li> {% trans %} add cv {% endtrans %}</li>
					</ul>
				</nav>
			</div>

			<!-- Row -->
			<div
				class="row">

				<!-- Dashboard Box -->
				<div class="col-xl-12">
					<div
						class="dashboard-box margin-top-0">

						<!-- Headline -->
						<div class="headline">
							<h3>
								<i class="icon-feather-folder-plus"></i>
							{% trans %}	Profile Form {% endtrans %}</h3>
						</div>


						{{ form_start(cv) }}

						<div class="content with-padding padding-bottom-10">
							<div class="row">

								<div class="col-xl-4">
									<div class="submit-field">
									
{{ form_widget(cv.sexe,{'attr':{'type':'text','class':'form-control','placeholder':'sexe...'}}) }}

									</div>
								</div>
								<div class="col-xl-4">
									<div class="submit-field">

										{{ form_widget(cv.pays,{'attr':{'type':'text','class':'form-control','placeholder':'pays...'}}) }}

									</div>
								</div>
								<div class="col-xl-4">
									<div class="submit-field">

										{{ form_widget(cv.ville,{'attr':{'type':'text','class':'form-control','placeholder':'ville...'}}) }}
									</div>
								</div>


								<div class="col-xl-6">
									<div class="submit-field"></br>
									{{ form_label(cv.date_naissance, null, {
                                            'label': 'date de naissance',
                                            'label_attr': {'class': 'uploadButton-button ripple-effect'}
                                            }) }}
									{{ form_widget(cv.date_naissance,{'attr':{'type':'date','class':'form-control','placeholder':'date_naissance...'}}) }}
										</div>
										</div>
										<div class="col-xl-6">
											<div class="submit-field">
												
												{{ form_widget(cv.langue_preferee,{'attr':{'type':'text','class':'form-control','placeholder':'langue_preferee...','style':'margin-top: 54px;'}}) }}


											</div>
										</div>
									<div class="col-xl-12">
										<div class="submit-field">

											<div class="uploadButton S ">
												{{ form_label(cv.photo, null, {
                                           			'label': 'Upload photo',
                                            		'label_attr': {'class': 'uploadButton-button ripple-effect'}
                                           		 }) }}
												{{ form_widget(cv.photo,{'attr':{'type':'file','accept':'image/*','class':'uploadButton-input'}}) }}


												<span class="uploadButton-file-name">
												{% trans %}	AND {% endtrans %}
												</span>
												<div class="uploadButton V">
											
												{{ form_label(cv.video, null, {
                                            	'label': 'Upload video',
                                            	'label_attr': {'class': 'uploadButton-button ripple-effect'}
                                            	}) }}
												{{ form_widget(cv.video,{'attr':{'type':'file','accept':'video/*','class':'uploadButton-input'}}) }}
</div>

											</div>
										</div>
									</div>


						
							
								<div class="CC" id="competance_list" data-prototype="{{form_widget(cv.competances.vars.prototype)|e('html_attr')}}">


									{% for row in cv.competances %}

										<div class="panel panel-warning">
											<div class="panel-heading"></div>
											<div class="panel-body">

												{{ form_row(row) }}
											</div>
										</div>
									{% endfor %}
								</div>
								<div class="CC" id="experiance_list" data-prototype="{{form_widget(cv.experiences.vars.prototype)|e('html_attr')}}">

									{% for row in cv.experiences %}
										<div class="panel panel-warning">
											<div class="panel-heading"></div>
											<div class="panel-body">

												{{ form_row(row) }}
											</div>
										</div>
									{% endfor %}
								</div>
						
							<div class="col-xl-12">
								<button type="submit" class="button full-width button-sliding-icon ripple-effect margin-top-10">{% trans %} Add Profile {% endtrans %}<i class="icon-material-outline-arrow-right-alt"></i>
								</button>
							</div>
							
						</div>
					</div>
{{ form_end(cv) }}

				</div>
			</div>


		</div>
		<!-- Row / End -->


	</div>
</div>
<!-- Scripts
================================================== -->
<script src={{ asset('js/competance.js')}}></script>
<script src={{ asset('js/experiance.js')}}></script>
<script src={{ asset('js/jquery-3.3.1.min.js')}}></script>
<script src={{ asset('js/jquery-migrate-3.0.0.min.js')}}></script>
<script src={{ asset('js/mmenu.min.js')}}></script>
<script src={{ asset('js/tippy.all.min.js')}}></script>
<script src={{ asset('js/simplebar.min.js')}}></script>
<script src={{ asset('js/bootstrap-slider.min.js')}}></script>
<script src={{ asset('js/bootstrap-select.min.js')}}></script>
<script src={{ asset('js/snackbar.js')}}></script>
<script src={{ asset('js/clipboard.min.js')}}></script>
<script src={{ asset('js/counterup.min.js')}}></script>
<script src={{ asset('js/magnific-popup.min.js')}}></script>
<script src={{ asset('js/slick.min.js')}}></script>
<script src={{ asset('js/custom.js')}}></script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAgeuuDfRlweIs7D6uo4wdIHVvJ0LonQ6g&libraries=places&callback=initAutocomplete"></script>
<!-- Dashboard Content / End -->  </body>
</html>