<page>
    <page_header>

     
   


<table>
<tr>
<td bgcolor="#d5d5d7" style="width:25%;text-align:center;"> 
<div  > <!--start of the container for the left column-->
        <div   > 
        <img src="{{ asset('uploads/images/' ~ cv.CV.photo) }}" alt="Avatar" width=75% style="border-radius:50%;"  >
    
        
       
     </div>
</td>

<td bgcolor="#d5d5d7" > <div > <!--start of the container for the right column-->
    
              <div  > <!-- Resume / About Me -->
                      <h1 style="text-align:center;">     {{ cv.User.nom }} <br> 	{{ cv.User.prenom }} <br> </h1> 
       
              </div> <!-- End of Resume / About Me -->
    
           
</div></td>
</tr>
<tr>
<td style="width:25%; background-color:#c0d8de">

 <div > <!--left column bottom - contact details & skills -->
         <br>
         <h2  style="text-align:center;"> CONTACT </h2> <hr style="width:100%;text-align:center;margin-left:0">
         <p  style="text-align:center;">{{ cv.CV.email }}</p> <hr style="width:100%;text-align:center;margin-left:0">
         <p  style="text-align:center;">{{ cv.CV.datenaissance|date('d-m-Y ') }} </p> <hr style="width:100%;text-align:center;margin-left:0">
         <p  style="text-align:center;"> {{ cv.CV.pays }} , {{ cv.CV.ville }} </p> <hr style="width:100%;text-align:center;margin-left:0"> <br>
         
        <h2  style="text-align:center;"> COMPETANCE </h2>
        {% for com in Competances %}
            <div style="text-align:center;"> 	{{ com.Competance }} </div>
           {% endfor %}
         
      
      </div>

</td>
<td >
 <div style="margin-left:40px;margin-top:10px;">
                <h2 > EXPERIENCE </h2>
            </div> <!-- work experience header -->
     {% for Exp in Experiences %}
        <div style="margin-left:40px;margin-top:0px;"> <!-- work experience container -->
     
                <h4 style="border:1px solid black;border-radius:50px; background-color:#c0d8de; margin-right:800px;text-align:center;" > {{ Exp.Datedebut|date('d-m-Y ') }} </h4>
        
       
            
           <div style="margin-left:120px;">
              <h3> {{ Exp.Titre }} <h3>
              <h4> {{ Exp.Lieu }} </h4>
           </div> <!-- job description container -->         
        </div> <!-- work experience header (year & title) container -->
     
          

             <div style="margin-left:160px;"> <p>{{ Exp.Description }}</p></div>
        
        
        <div style="margin-left:40px;margin-top:0px;"> 
             <h4 style="border:1px solid black;border-radius:50px; background-color:#c0d8de; margin-right:800px;text-align:center;"> {{ Exp.Datefin|date('d-m-Y ') }} </h4>
           </div> <!-- years container -->   
       <hr>
    
     {% endfor %}
     
 </div> <!-- end of the flex container -->
</td>
</tr>
       
</table>

 </page_header>					


</page>