<page>
    <page_header>

     
   


<table style="width:70%;">
   <tbody>
<tr>
    <td bgcolor="#d5d5d7" style="width:25%;text-align:center;"> 
        <!--start of the container for the left column-->
           
                 {# <img src="{{ asset('uploads/images/' ~ cv.CV.photo) }}" alt="Avatar" style="border-radius:50%; "  width="200" height="200">  #}
           <img src="{{html}}" alt="Avatar" style="border-radius:50%;"  width="200" height="200">
        
    </td>

    <td bgcolor="#d5d5d7"  > 

    
           
                      <h1 style="text-align:center;">     {{ cv["0"].User.nom }} <br> 	{{ cv["0"].User.prenom }} <br> </h1> 
       
           
    
           
       
    </td>
 
   
     
                      
      
   
</tr>
<tr>
    <td style="width:25%; background-color:#c0d8de">

       
            <br>
            <h2  style="text-align:center;">{% trans %}  CONTACT {% endtrans %} </h2> <hr style="width:100%;text-align:center;margin-left:0">
            <p  style="text-align:center;">{{ cv["0"].CV.email }}</p> <hr style="width:100%;text-align:center;margin-left:0">
            <p  style="text-align:center;">{{ cv["0"].CV.datenaissance|date('d-m-Y ') }} </p> <hr style="width:100%;text-align:center;margin-left:0">
            <p  style="text-align:center;"> {{ cv["0"].CV.pays }} , {{ cv["0"].CV.ville }} </p> <hr style="width:100%;text-align:center;margin-left:0"> <br>
            
            <h2  style="text-align:center;">{% trans %}  COMPETANCE {% endtrans %}</h2>
                {% for com in Competances %}
              
                    <div style="text-align:center;"> 	{{ com.Competance }}
                    </div>
                   
                {% endfor %}
         
      
      

    </td>
    <td >
            <div style="margin-left:40px;margin-top:10px;">
                <h2 >{% trans %}  EXPERIENCE {% endtrans %} </h2>
            </div> <!-- work experience header -->
             {% for Exp in Experiences %}
                <div style="margin-left:40px;margin-top:0px;"> <!-- work experience container -->
            
                        <h4 style="border:1px solid black;border-radius:50px; background-color:#c0d8de; margin-right:800px;text-align:left;" > {{ Exp.Datedebut|date('d-m-Y ') }} / {{ Exp.Datefin|date('d-m-Y ') }} </h4>
                
                </div> <!-- work experience header (year & title) container -->
                    
                    <div style="margin-left:70px;">
                        <h3> {{ Exp.Titre }} </h3>
                          </div>
                         <div style="margin-left:85px;">
                        <h4> {{ Exp.Lieu }} </h4>
                    </div> <!-- job description container -->         
              
     
          

                    <div style="margin-left:100px;"> <p>{{ Exp.Description }}</p></div>
                
                
                    <div style="margin-left:40px;margin-top:0px;"> 
                        
                    </div> <!-- years container -->   
                    <hr>
    
            {% endfor %}
     
        
    </td>
</tr>
          </tbody>
</table>

 </page_header>					


</page>